.dashboard-table {
    border-collapse: collapse;
    margin-bottom: 0;
}

.dashboard-table td {
    border-bottom: 1px dashed #d7d7d7;
}

.dashboard-table a {
    color: #242424;
}

.dashboard-table .bold {
    color: #0a0a0a;
    font-weight: 600;
}

.dashboard-table thead {
    background: none;
    border: 0;
    border-bottom: 1px solid #e6e6e6;
    color: #8a8a8a;
    font-size: 0.8rem;
}

.dashboard-table thead a {
    color: #8a8a8a;
}

.dashboard-table tbody {
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.dashboard-table tbody tr {
    transition: all 0.5s ease;
}

.dashboard-table tbody tr:hover {
    background: #fcf7da;
    transition: all 0.5s ease;
}

.dashboard-table tbody tr:nth-child(even) {
    background: none;
}

.dashboard-table tr:last-child td {
    border-bottom: 0;
}

.dashboard-table-text {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.dashboard-table-timestamp {
    color: #9a9a9a;
    font-size: 0.9rem;
    font-weight: 400;
}

.dashboard-table-image {
    display: inline;
    margin-right: 1rem;
    margin-top: 0.6rem;
    max-width: none;
}